<html>
    <head>
        <title>Nurse Summary / Note</title>
         <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand">Team 7 Medical Clinic Database</a>
              </div>
              <ul class="nav navbar-nav">
                <li disabled><a>{{user}}</a></li>
                <li><a href="patient_login_signup.html">Patient Login / Signup</a></li>
                <li><a href="employee_login.html">Employee Login</a></li>
                <li class="active"><a href="/home">Home</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </div>
          </nav>

          <div class="container">
            <div class="row">
              <h1>Summary: Previous Appointments</h1><br>
            </div>
          </div>
          <table style="width:100%">
            <tr>
              <th>Appointment ID</th>
              <th>Location</th>
              <th>Date</th>
              <th>Time</th>
              <th>Patient</th>
              <th>Blood Pressure</th>
              <th>Weight</th>
              <th>Temperature</th>
              <th>Reason for visit</th>
              <th>Doctor's Notes</th>
            </tr>
            <tr>
              <td>Location 1</td>
              <td>69939 somewhere</td>
              <td>03/02/20</td>
              <td>8:30 AM</td>
              <td>Doctor 1</td>
              <td>123</td>
              <td>140</td>
              <td>97</td>
              <td>Fever</td>
              <td>Rest</td>
            </tr>
            
          </table><br><br><br>
        
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <form action="/summaryupdate">
                            <h1>Update Patient Record</h1>
                            <label for="choosepatientID">Choose Patient ID:</label><br>
                            <input type="text" id="choosepatientID" name="choosepatientID" placeholder="Enter Patient ID" required><br>
              
                            <label for="bloodpressure">Blood Pressure:</label><br>
                            <input type="text" id="bloodpressure" name="bloodpressure" placeholder="Enter Blood Pressure" required><br>
              
                            <label for="weight">Weight:</label><br>
                            <input type="text" id="weight" name="weight" placeholder="Enter Weight" required><br>
                            
                            <label for="changephone">Temperature:</label><br>
                            <input type="text" id="changephone" name="changephone" placeholder="Enter Temperature" required><br>
                            
                           <br>
                            
                            <textarea name="notes" rows="3" cols="30" placeholder="Notes" required></textarea><br>
                            <br>
              
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                </div>
            </div>

    </body>

</html>