<html>
    <head>
        <title>Reports</title>
         <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 

    </head>
    <body>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand">Team 7 Medical Clinic Database</a>
              </div>
              <ul class="nav navbar-nav">
                <li><a href="/auth">Patient Login / Signup</a></li>
                <li><a href="/employeeauth">Employee Login</a></li>
                <li class="active"><a href="/nursehome">Home</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </div>
          </nav>
        
        <div class="container">
            
            <div class="row">
                <h1>Reports</h1><br><br>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h1>View Patient Records</h1>
                    <form action="/report1" method="post">
                        <label for="patientID">Patient ID:</label><br>
                        <input type="text" id="patientID" name="patientID" placeholder="Enter Patient ID" required><br>
                        <label for="datefrom">Date From:</label><br>
                        <input type="date" id="datefrom" name="datefrom"  required><br>
                        <label for="dateto">Date To:</label><br>
                        <input type="date" id="dateto" name="dateto"  required><br>
                        <label for="reportype">Report Type:</label><br>
                        <select id="choosepatientID" name="option" required>
                            <option disabled selected value>Select an option</option>
                            <option>Appointment</option>
                            <option>Prescription</option>
                        </select><br>
                        
                        <br>
                        <input type="submit" value="Submit">
                    </form>
                </div>

                <div class="col-lg-6">
                    <h1>View Doctor Schedule</h1>
                    <form action="/report2" method="post">
                        <label for="doctorID">Doctor ID:</label><br>
                        <input type="text" id="doctorID" name="doctorID" placeholder="Enter Doctor ID" required><br>
                        <label for="date">Date:</label><br>
                        <input type="date" id="date" name="day" required><br>
                        
                        <br>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            
            </div>
        </div>

    </body>
</html>



